@import url("https://fonts.googleapis.com/css2?family=Alata&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: #fafaf7;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #fafaf7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #fafaf7;
  height: 100vh;
  width: 100vw;
}

.green-text-span {
  color: #87db9f;
}

.light-lav-text-span {
  color: #d6bcf6;
}
.category-btn {
  border-bottom-width: 10px;
  border-bottom: white;
  border-bottom-style: solid;
}
.category-btn:hover {
  border-bottom-width: 10px;
  border-bottom: #201f1f;
  border-bottom-style: solid;
}

h1 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.25rem !important;
}

#first-word {
  font-size: xx-large;
  font-weight: 800;
}

main {
  height: fit-content;
  min-height: 100vh;
  padding-top: 56px;
  padding-bottom: 121px;
}
